@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,TestIT.Web

@{
    ViewData["Title"] = "About";
}

<div fxlayout="row" fxlayoutwrap="wrap" style="display: flex; flex-flow: row wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; box-sizing: border-box;">
    <div class="column">
        <md-card class="login-card">
            <md-card-header>
                <h3>ASP.NET Core</h3>
            </md-card-header>
            <img md-card-image src="images/aspnetcore.jpg">
            <md-card-content>
                <p>ASP.NET Core is a new open-source and cross-platform framework for building modern cloud-based Web applications using .NET.</p>
                <a md-button href="http://www.microsoft.com/net" target="_blank">More Info</a>
            </md-card-content>
        </md-card>
    </div>
<div class="column">
    <md-card class="login-card">
        <md-card-header>
            <h3>Angular 4</h3>
        </md-card-header>
        <img md-card-image src="images/angular4.png">
        <md-card-content>
            <p>Angular is a development platform for creating applications using modern web standards. It includes essential features such as mobile gestures, animations, routing and data binding.</p>
            <a md-button href="https://angular.io/" target="_blank">More Info</a>
        </md-card-content>
    </md-card>
</div>
<div class="column">
    <md-card class="login-card">
        <md-card-header>
            <h3>TypeScript</h3>
        </md-card-header>
        <img md-card-image src="images/ts.png">
        <md-card-content>
            <p>TypeScript lets you write JavaScript the way you really want to. TypeScript is a typed superset of JavaScript that compiles to plain JavaScript. Any browser. Any host. Any OS. Open Source.</p>
            <a md-button href="http://www.typescriptlang.org/" target="_blank">More Info</a>
        </md-card-content>
    </md-card>
</div>
<div class="column">
    <md-card class="login-card">
        <md-card-header>
            <h3>Entity Framework Core</h3>
        </md-card-header>
        <img md-card-image src="images/efcore.png">
        <md-card-content>
            <p>EF is a lightweight and extensible version of Entity Framework that enables new platforms and new data stores.</p>
            <a md-button href="https://github.com/aspnet/EntityFramework" target="_blank">More Info</a>
        </md-card-content>
    </md-card>
</div>
</div>
