    <md-toolbar class="main-header" role="toolbar" color="primary">
        <button md-icon-button (click)="sidenav.toggle()" class="mat-icon-button">
            <md-icon class="material-icons">menu</md-icon>
        </button>
        <a routerLink="/home" routerLinkActive="active">
            <div class="branding">
                <div class="logo"></div>
            </div>
        </a>
        <span>{{title}}</span>
        <span class="fill-remaining-space"></span>
                <a md-button class="upper" (click)="setTitle('About - TestIT')" routerLink="/about">About</a>

                <a md-button class="upper" href="swagger" [hidden]="!isLoggedIn()">API</a>

                <a md-button class="upper" (click)="setTitle('Contact - TestIT')" routerLink="/contact">Contacts</a>

        @await Html.PartialAsync("_LoginPartial")
        <button md-icon-button [mdMenuTriggerFor]="appMenu"><md-icon class="material-icons" [hidden]="!isLoggedIn()">account_circle</md-icon></button>
    </md-toolbar>

    <md-menu #appMenu="mdMenu">
        <button md-menu-item> Account </button>
        <button md-menu-item> Logout </button>
    </md-menu>

<md-sidenav-container  class="app-component-sidenav">
    <md-sidenav #sidenav class="sidebar-panel mat-sidenav" mode="push">
        <md-nav-list>
            <md-list-item appaccordionlink="" role="listitem">
 
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
        
    <router-outlet></router-outlet>
</md-sidenav-container>
<footer class="testIt-footer primary">
    <div class="testIt-footer-list">
        <div class="testIt-footer-logo">

        </div>

        <div class="testIt-footer-links">
            <ul>
               
            </ul>
        </div>

        <div class="testIt-footer-copyright">
            <p>Powered by Oleg Lyahovich ©2017.<br> Code licensed under an MIT-style License.</p>
        </div>
    </div>
</footer>
