    <md-toolbar class="main-header" role="toolbar" color="primary">
        <button md-icon-button (click)="sidenav.toggle()" class="mat-icon-button">
            <md-icon class="material-icons">menu</md-icon>
        </button>
        <a routerLink="/home" routerLinkActive="active">
            <div class="branding">
                <div class="logo"></div>
            </div>
        </a>
        <span>{{title}}</span>
        <span class="fill-remaining-space"></span>
                <a md-button class="upper" routerLink="/about" [hidden]="!isLoggedIn()">About</a>

                <a md-button class="upper" href="swagger" [hidden]="!isLoggedIn()">API</a>

                <a md-button class="upper" routerLink="/contact" [hidden]="!isLoggedIn()">Contacts</a>

        <button md-icon-button [mdMenuTriggerFor]="appMenu"><md-icon class="material-icons" [hidden]="!isLoggedIn()">account_circle</md-icon></button>
    </md-toolbar>

    <md-menu #appMenu="mdMenu">
        <a md-menu-item role="menuitem" routerLink="/about">
            <md-icon class="material-icons">person</md-icon> <span>Account</span> </a>
            <button md-menu-item role="menuitem" (click)="logout()" aria-disabled="false"><md-icon class="material-icons">exit_to_app</md-icon> <span>Logout</span>  </button>
</md-menu>

<md-sidenav-container  class="app-component-sidenav">
    <md-sidenav #sidenav class="sidebar-panel" mode="push">
        <md-nav-list class="navigation">
            <md-list-item>
                <a md-ripple fxLayout="row" class="relative" (click)="sidenav.close()" [routerLink]="['/']">
                    <md-icon>Home</md-icon>
                    <span>Home</span>
                    <span  fxflex></span>
                </a>
                </md-list-item>
            <md-list-item>
                <a md-ripple fxLayout="row" class="relative" (click)="sidenav.close()" [routerLink]="['/']">
                    <md-icon>Home</md-icon>
                    <span>Home</span>
                    <span fxflex></span>
                </a>
            </md-list-item>
            <md-list-item>
                <a md-ripple fxLayout="row" class="relative" (click)="sidenav.close()" [routerLink]="['/']">
                    <md-icon>Home</md-icon>
                    <span>Home</span>
                    <span  fxflex></span>
                </a>
            </md-list-item>
            <md-list-item>
                <a *ngIf="user" md-list-item (click)="sidenav.close(); logout()" class="logout-button">
                    <md-icon>Home</md-icon>
                    <span>Home</span>
                    <span fxflex></span>
                </a>
            </md-list-item>
            </md-nav-list>
</md-sidenav>
        
    <router-outlet></router-outlet>
</md-sidenav-container>
<footer class="testIt-footer primary">
    <div class="testIt-footer-list">
        <div class="testIt-footer-logo">

        </div>

        <div class="testIt-footer-links">
            <ul>
               
            </ul>
        </div>

        <div class="testIt-footer-copyright">
            <p>Powered by Oleg Lyahovich ©2017.<br> Code licensed under an MIT-style License.</p>
        </div>
    </div>
</footer>