@{
    ViewData["Title"] = "Home";
}
<div fxLayout="column" fxlayoutalign="center" fxlayoutwrap="wrap" class="table" fxflex style="align-items: center;">
    <md-card>
        <md-card-header style="text-align: center; display: flex; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; box-sizing: border-box;">
            <h3>ASP.NET Core, Angular 4 & Material</h3>
        </md-card-header>
        <img md-card-image src="images/main.jpg">
    </md-card>
        <my-about>

        </my-about>
</div>
